#
#  __  __            _         _         _                  _
# |  \/  | __ _ _ __| | ____ _| |_ __ _ | |_ ___  _ __ ___ | |
# | |\/| |/ _` | '__| |/ / _` | __/ _` || __/ _ \| '_ ` _ \| |
# | |  | | (_| | |  |   < (_| | || (_| || || (_) | | | | | | |
# |_|  |_|\__,_|_|  |_|\_\__,_|\__\__,_(_)__\___/|_| |_| |_|_|
#
#                                           https://wyatt.waylonwalker.com

[markata]
# bump site version to bust GitHub actions cache
version = 0

# 2 weeks in seconds
default_cache_expire = 1209600

## Markata Setup

# Patterns to look for content


# include an edit link
edit = false

# Where to output the site
# output_dir = "markout"

# Static directory to copy over
# assets_dir = "static"

# plugins to enable
hooks = [
   "markata.plugins.publish_source",
   "markata.plugins.theme",
#   "markata.plugins.prevnext",
#    "markata.plugins.service_worker",
    "default"
]

# plugins to disable
disabled_hooks = [
    # seo is replaces by using markta.head.meta in config
    "markata.plugins.seo",  
]

## Site Config
url = "https://wyattbubbylee.com"
description = "wyatt's science webpage"
title = "minecraft-documentary-wyatt"
rss_description = "Wyatt's Minecraft Documentary"
author_name = "Wyatt Walker"
author_email = "wyatt.lee.walker@gmail.com"

## PWA config
site_name = "minecraft-documentary-wyatt"
theme_color = "#322D39"
background_color = "#B73CF6"
start_url = "/"
short_name = "minecraft-documentary-wyatt"
display = "minimal-ui"
icon = "icon.png"


# use a different template than the built in one
# post_template = "pages/templates/post_template.html"



[markata.style]
# theme = 'tokyo-night'
# theme = 'catppuccin'
theme = 'everforest'
# theme = 'gruvbox'
# theme = 'kanagwa'
# theme = 'nord'
# theme = 'synthwave-84'

[markata.nav]
'home' = '/'
'main-projects' = '/archive'

[markata.glob]
glob_patterns = "pages/**/*.md"

[markata.prevnext]
# strategy can be 'first' or 'all'
# 'first' will cycle through the first map the post is found in.
# 'all' will cycle through all of the maps
strategy='first'

# if you want different colors than your main color_text and color_accent, then
# you can override it here
# colors can be any valid css color format

prevnext_color_text="white"
prevnext_color_text_light="black"
prevnext_color_angle="white"
prevnext_color_angle_light="black"

## markata.plugins.auto_description configuration
[markata.auto_description.description]
len=160
[markata.auto_description.long_description]
len=250
[markata.auto_description.super_description]
len=500

[markata.auto_publish.filters]
til="templateKey=='til' and date<=today and status != 'draft'"

## SEO | <head>
[[markata.head.text]]
# dynamically get the title for each page
value = "<title>{{ title|e }}</title>"

[[markata.head.script]]
src='/leaves.js'
defer=true

[[markata.head.link]]
# dynamically get the title for each page
# value = '<link rel="stylesheet" href="/fonts.css">'
rel = 'stylesheet'
href = '/fonts.css'

[[markata.head.meta]]
name = "custom"
# dynamically get the title for each page
content = "my custom thing"

[[markata.head.meta]]
name = "twitter:title"
# dynamically get the title for each page
content = "{{ title|e }}"

[[markata.head.meta]]
property = "og:title"
# dynamically get the title for each page
content = "{{ title|e }}"

[[markata.head.meta]]
name = "description"
# dynamically get the description for each page
content = "{{ description|e }}"

[[markata.head.meta]]
property = "og:description"
# dynamically get the description for each page
content = "{{ description|e }}"

[[markata.head.meta]]
name = "twitter:description"
# dynamically get the description for each page
content = "{{ description|e }}"


[[markata.head.meta]]
property = "og:type"
content = "article"

[[markata.head.link]]
# dynamically get the canonical url for each page
href = "{{ config.url }}/{{ slug }}/"
rel = "canonical"

[[markata.head.meta]]
# dynamically get the canonical url for each page
property = "og:url"
content = "{{ config.url }}/{{ slug }}/"

[[markata.head.meta]]
# dynamically get the canonical url for each page
property = "og:image"
content = "{{ config.url }}/{{ slug }}.jpg"

[[markata.head.meta]]
property = "og:image:width"
content = "1200"

[[markata.head.meta]]
property = "og:image:height"
content = "600"


# [[markata.head.meta]]
# name="twitter:creator"
# content="<your twitter username>"


[[markata.head.meta]]
name="twitter:card"
content="summary_large_image"


[[markata.head.meta]]
property = "og:author"
content = "Wyatt Walker"


[[markata.head.meta]]
property = "og:site_name"
content = "minecraft-documentary-wyatt"


[[markata.head.meta]]
property = "og:author_email"
content = "wyatt.lee.walker@gmail.com"


[[markata.head.meta]]
# set the site generator to the current markata version
name = "generator"
content = "markata {{ __version__ }}"

# [[markata.head.meta]]
# name = "monetization"
# content = "<your wallet url>"

[[markata.head.meta]]
name = "theme-color"
content="#322D39"

[[markata.head.link]]
# dynamically get the title for each page
rel='stylesheet'
href='/wyattbubbylee.css'

## markata.plugins.feeds configuration
[[markata.feeds]]
# creates a feed at /archive
slug='archive'
filter="date<=today and post.get('published', False)"
sort="date"
reverse=true

[[markata.feeds]]
# creates a feed at /all
slug='all'
filter="True"
sort="date"
reverse=true

[[markata.feeds]]
# creates a feed at /published
slug='published'
filter="date<=today and post.get('published', False)"
sort="date"
reverse=true

[[markata.feeds]]
# creates a feed at /draft
slug='draft'
filter="date>today or not post.get('published', False)"
sort="date"
reverse=true

# markdown_it flavor
[markata.markdown_it_py]
config = 'gfm-like'
# markdown_it built-in plugins
enable = ["table"]

# add custom markdown_it plugins
[[markata.markdown_it_py.plugins]]
plugin = "mdit_py_plugins.admon:admon_plugin"

[[markata.markdown_it_py.plugins]]
plugin = "mdit_py_plugins.attrs:attrs_plugin"
config = { spans = true }

[[markata.markdown_it_py.plugins]]
plugin = "mdit_py_plugins.attrs:attrs_block_plugin"

[[markata.markdown_it_py.plugins]]
plugin = "markata.plugins.mdit_details:details_plugin"

[[markata.markdown_it_py.plugins]]
plugin = "mdit_py_plugins.anchors:anchors_plugin"

[[markata.markdown_it_py.plugins]]
plugin = "markata.plugins.md_it_wikilinks:wikilinks_plugin"
config = { markata = "markata" }

[[markata.markdown_it_py.plugins]]
plugin = "mdit_py_plugins.tasklists:tasklists_plugin"

