---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: blog-post
title: {{ title | title }}
tags:
  - post
published: True

---
<style>
    body {
      background: #696969;
      color: purple;
      font-family: monocraft;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
<style/>

!!! source

    ``` python
    # put your code here
    ```

